# Données et résultats (à ignorer)
data/
outputs/
memory/
rag_index/

# Variables d'environnement
agent_harington.env
.env

# Streamlit
.streamlit/

# Environnements virtuels
venv/
env/

# Cache Python
__pycache__/
*.pyc

# Logs
*.log
